In [127]:
import pandas as pd
df = pd.read_csv("name.csv")
df.loc[df['性別']==' M',"性別"] = 'M'
s=df.groupby('性別')
df[df['性別']=='M'],s.sum()

(    姓名  年齡 性別
 0  陳一中   5  M
 2  張柏伸  24  M
 3  林文進  33  M
 4  許維辰  14  M
 6  何紹宏   9  M
 7  楊敏全  51  M,
      年齡
 性別
  F   35
 F    66
 M   136)

In [72]:
import pandas as pd
seriesObj = pd.Series(range(10),index=['a', 'a', 'b', 'b', 'b','c','c','c','c','c'])
seriesObj["c"]

c    5
c    6
c    7
c    8
c    9
dtype: int64

In [67]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4,3),index=['a', 'b', 'c', 'd'])
df,df[0:3].iloc[0:4]

(          0         1         2
 a -1.980613  0.625499 -0.871073
 b  0.303669  1.710442  1.629457
 c  0.254760 -1.955827 -0.307759
 d  0.305599  0.962927  0.325880,
           0         1         2
 a -1.980613  0.625499 -0.871073
 b  0.303669  1.710442  1.629457
 c  0.254760 -1.955827 -0.307759)

In [18]:
import pandas as pd
import numpy as np
col = ['class','name','hbd']
data = [['class0', 'user0', '1993-10-01'],
        ['class0', 'user1', '1992-10-02'],
        ['class1', 'user2', '1990-10-01'],
        ['class2', 'user3', '1983-10-03'],
        ['class1', 'user4', '1991-10-02'],
        ['class0', 'user5', '2001-10-03']]
frame = pd.DataFrame(data,columns=col)
frames = np.load("陣列.npy")
frames

array([[ 0, 10],
       [ 1, 11],
       [ 2, 12],
       [ 3, 13],
       [ 4, 14],
       [ 5, 15],
       [ 6, 16],
       [ 7, 17],
       [ 8, 18],
       [ 9, 19]])

In [16]:
import numpy as np
x = np.arange(20)
xx = x.reshape(2,10)
xxx = xx.T
np.save("陣列",xxx)

In [3]:
!type sql.txt

C:\Users\admin\.virtualenvs\visual_env-Jgcwyc_S
ALTER TABLE record_info MODIFY COLUMN `record` enum('摰����','銝����','靽����','��交捏','���畾�','銝�畾�','��餅捏','��箸捏','��典�����','���憭�') not null;

C:\Users\admin\AppData\Roaming\Python\Python310\Scripts

qsLZ1IUioqrml59LH94PciJjIxxPVfw4bXMM1WgEffS


"LOAD DATA local INFILE 'C:/Users/admin/Desktop/name.csv' IGNORE INTO TABLE name_info\
FIELDS TERMINATED BY ',' ENCLOSED BY '\"' LINES TERMINATED BY '\\n' ignore 1 lines (username);")